{% load custom_filters %}
<div class="upper-detail-div">
    <div class="current_price_list table-data">     
        {% if icbt_jobs|length > 0 %}	
            <h4>List of Informal Cross Border Trade Bulk Upload Jobs</h4>			
            <table>
                <thead>
                    <th>#</th>
                    <th>UPLOAD CREATED BY</th>
                    <th>UPLOAD STATUS</th>
                    <th>UPLOAD CREATED ON</th>
                    <th>RECORDS SUCCEEDED</th>
                    <th>RECORDS FAILED</th>
                    <th colspan="2">ACTION</th>
                </thead>
                <tbody>
                    {% for record in icbt_jobs %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ record.user.first_name|title }} {{ record.user.last_name|title }}</td>
                            <td>{{ record.status|upper }}</td>
                            <td>{{ record.created_at|date:'d-m-Y H:i' }}</td>
                            <td>{{ record.success_count }}</td>
                            <td>{{ record.failure_count }}</td>
                            <td><a href="{% url 'automation:job_detail' record.id %}" class="view_button">view details</a></td>
                            {% if request.user|is_user_permitted:"0020,4" or request.user == record.user %}
                                {% if record.status|lower == "completed" or record.status|lower == "failed" %}
                                    <td><a class="delete_button" onclick="openModal('{% url 'automation:delete_job' record.id %}', 'delete upload job', ' for {{ record.category }}?')">delete</a></td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include 'helpers/pup-up-modal.html' %}
        {% else %}
            <h4>There are no bulk upload jobs for informal cross border trade</h4>
        {% endif %}						
    </div>
</div>