{% extends "base_layout.html" %}
{% load humanize %}

{% block main_data_load %}
    <div id="tabs-container">
        <br/><br/>
        <div class="current_price_list table-data">     
            <h4 style="font-size: 1.2rem;">Informal Cross Border Trade Data Bulk Upload: CSV File with Below Required Columns. The order does not matter</h4>			
            <table style="margin:auto;">
                <thead>
                    {% for col in required_columns %}
                        <th style="border-left: 1px solid black;">{{ col }}</th>              
                    {% endfor %}
                </thead>
                <tbody></tbody>
            </table>
             {% include "helpers/message_alert.html" %}
            <br/><br/>
            <div class="upload-container">
                <form id="uploadForm" method="post" action="{% url 'trade:upload-icbt' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="file-input-wrapper">
                        <input type="file" id="csvFile" name="csv_file" accept=".csv" required/>
                        <label for="csvFile" class="file-label">Choose ICBT CSV File</label>
                    </div>
                    <div class="error-message"></div>
                    <button type="submit" class="submit-btn">Upload</button>
                    <a class="cancel" href="{% url 'trade:icbt-list' %}">Cancel</a>
                </form>

                <div class="progress-container">
                    <div class="progress-bar"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}