# system_management/migrations/*
system_management/__pycache__
system_management/models/__pycache__
system_management/migrations/__pycache__
# !system_management/migrations/__init__.py

industry/__pycache__
industry/models/__pycache__
industry/migrations/__pycache__
# industry/migrations/*
# !industry/migrations/__init__.py

minicom_dashboard/__pycache__
minicom_dashboards/__pycache__
minicom_dashboards/models/__pycache__/
minicom_dashboards/migrations/__pycache__
# minicom_dashboards/migrations/*
# !minicom_dashboards/migrations/__init__.py

media

automation/models/__pycache__/
automation/__pycache__/
automation/templatetags/__pycache__
automation/migrations/__pycache__
# automation/migrations/*
# !automation/migrations/__init__.py
dashboard/__pycache__
dashboard/migrations/__pycache__
# automation/migrations/*
# !automation/migrations/__init__.py

reporting/__pycache__
reporting/models/__pycache__
reporting/migrations/__pycache__
# reporting/migrations/*
# !reporting/migrations/__init__.py

trade/__pycache__
trade/models/__pycache__
trade/migrations/__pycache__
# trade/migrations/*
# !trade/migrations/__init__.py

database.sqlite3
.env