{% extends "base_layout.html" %}
{% load humanize %}
{% load custom_filters %}
{% block main_data_load %}
    <div id="car_title_header_and_new_btn">
        <p id="car_title_header_and_new_btn_p">{{ industrial_park.name|title}} {{ industrial_park.category|title}}</p>
        <a href="{% url 'industry:parks-list' %}" id="price_back_to_car_list">Back to the list</a>
    </div>

    <!-- Tabs Navigation -->
    <div id="tabs-container">
        <ul class="tabs">
            <li class="tab-link active" data-tab="park-detail">Information Details</li>
            <li class="tab-link" data-tab="partitioned-plots">Partitioned Plots</li>
            <li class="tab-link" data-tab="allocated-plots">Allocated Plots</li>
            <li class="tab-link" data-tab="company-industries">Industries In Parks</li>
        </ul>
    </div>

    <!-- Tab Content -->
    <div id="card_body_data">
        {% include 'helpers/message_alert.html' %}
        <!-- Role users Tab -->
        <div id="park-detail" class="tab-content active">
            <div id="car_viewed_for_prices" class="car_viewed_for_services_prices">
                <div>
                    <p><strong>Name: </strong>{{ industrial_park.name }} {{ industrial_park.category|title }}</p>                 
                    <p><strong>Total Land Area: </strong>
                        {% with value=industrial_park.total_land_size|floatformat:5 %}
                            {{ value|format_number:5 }}
                        {% endwith %}
                        <b>m<sup>2</sup></b>
                    </p>
                    <br/>
                    <b><h3 style="border-bottom: 1px solid black;">Location</h3></b>
                    <p><strong>Province: </strong>{{ industrial_park.province|title }}</p>
                    <p><strong>District: </strong>{{ industrial_park.district|title}}
                    <p><strong>Sector: </strong>{{ industrial_park.sector|title}}
                    <p><strong>Cell: </strong>{{ industrial_park.cell|title}}
                </div>
                <div>
                    <p><strong>System Recorded Date: </strong>{{ industrial_park.recorded_date|date:'d-m-Y H:i:s A' }}</p>
                    <p><strong>Total Leasable Land Area: </strong>
                        {% with value=industrial_park.leasable_land|floatformat:5 %}
                            {{ value|format_number:5 }}
                        {% endwith %}
                        <b>m<sup>2</sup></b>
                    </p>
                </div>
            </div>
        </div>
        <!-- partitioned plots Tab -->
        <div id="partitioned-plots" class="tab-content">
            <div class="upper-detail-div">
                {% if park_partitioned_plots|length > 0 and request.user|is_user_permitted:"0012,2" %}
                    <button id="view_price_archive_button" onclick='showAssignmentTable("block")'>+ Record a partitioned plot</button>
                {% endif %}		
                <div class="current_price_list table-data">     
                    {% if park_partitioned_plots|length > 0 %}	
                        <h4>List of Plots Partitioned In {{ industrial_park.name|title}} {{ industrial_park.category|title}}</h4>		
                        <table class="table-data">
                            <thead>
                                <th>#</th>
                                <th>PLOT NUMBER</th>
                                <th>PLOT SIZE</th>
                                <th>ZONING</th>
                                <th>AVAILABILITY STATUS</th>
                                <th>UPI STATUS</th>
                                <th>PARTITIONED PLOT UPI</th>
                                <th>RECORDED DATE</th>
                                <th colspan="2">Action</th>
                            </thead>
                            <tbody>
                                {% for park_partitioned_plot in park_partitioned_plots %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ park_partitioned_plot.plot_number|upper }}</td>
                                        <td>
                                            {% with value=park_partitioned_plot.plot_size|floatformat:5 %}
                                                {{ value|format_number:5 }}
                                            {% endwith %}
                                            m<sup>2</sup>
                                        </td>
                                        <td>{{ park_partitioned_plot.zone.name|title }}</td>
                                        <td>
                                            {% if park_partitioned_plot.is_allocated %}
                                                <a class="delete_button" style="background-color: #090030;color: white; width: 100%; display:block; text-align:center; border: none; border-radius:0;">Allocated</a>
                                            {% else %}
                                                <a href="" class="delete_button" style="background-color: green; color: white; width: 100%; display:block; text-align:center; border: none; border-radius:0;">available</a>
                                            {% endif %}
                                        </td>
                                        <td>{{ park_partitioned_plot.upi_status|title }}</td>                               
                                        <td>{{ park_partitioned_plot.partitioned_plot_upi }}</td>
                                        <td>{{ park_partitioned_plot.recorded_date|date:"d-m-Y H:i:s A" }}</td>                                     
                                        <td><a href="" class="delete_button">remove</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h4>There are no recorded partitioned plots in {{ industrial_park.name|title}} {{ industrial_park.category|title}}</h4>	
                        <button id="view_price_archive_button" onclick='showAssignmentTable("block")'>+ Record a partitioned plot</button>	
                    {% endif %}						
                </div>
                {% include "helpers/pagination/partitioned_plots.html" %}
            </div>
            <!-- New Assignment Form -->
            <div class="new-assignment car_new_form_div">
                <!-- form for recording a partitioned plot-->
                {% include 'industry/park/partitioned_plot_form.html' %}
            </div>
        </div>
        <!-- allocated plots tab -->
        <div id="allocated-plots" class="tab-content">
            <div class="upper-detail-div">
                <div class="current_price_list table-data">     
                    {% if allocated_plots|length > 0 %}	
                        <h4>List of Allocated Plots In {{ industrial_park.name|title}} {{ industrial_park.category|title}}</h4>		
                        <table class="table-data">
                            <thead>
                                <th>#</th>
                                <th>PLOT OWNER</th>
                                <th>ALLOCATED PLOT UPI</th>
                                <th>UPI STATUS</th>
                                <th>PLOT SIZE</th>
                                <th>LAND TITLE STATUS</th>
                                <th>ZONING</th>
                                <th>RECORDED DATE</th>
                                <th colspan="1">Action</th>
                            </thead>
                            <tbody>
                                {% for allocated_plot in allocated_plots %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ allocated_plot.land_owner.user.first_name|title }}</td>
                                        <td>{{ allocated_plot.allocated_plot_upi }}</td>
                                        <td>{{ allocated_plot.upi_status|title }}</td>
                                        <td>
                                            {% with value=allocated_plot.plot_size|floatformat:5 %}
                                                {{ value|format_number:5 }}
                                            {% endwith %}
                                            <b>m<sup>2</sup></b>
                                        </td>
                                        <td>{{ allocated_plot.zone.name|title }}</td>
                                        <td>{{ allocated_plot.land_title_status|title }}</td>
                                        <td>{{ allocated_plot.recorded_date|date:"d-m-Y H:i:s A" }}</td>
                                        <td><a href="{% url 'industry:land-request-detail' allocated_plot.land_request.id %}#land-request-allocated-plot" class="view_button">view</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h4>There are no recorded allocated plots in {{ industrial_park.name|title}} {{ industrial_park.category|title}}</h4>	
                    {% endif %}						
                </div>
                {% include "helpers/pagination/allocated_plots.html" %}
            </div>
        </div>
        <!-- industries tab -->
        <div id="company-industries" class="tab-content">
            <div class="upper-detail-div">
                <div  class="current_price_list table-data">
                    <h4>List of Industries In {{ industrial_park.name|title }} {{ industrial_park.category|title }}</h4>		
                    <table class="table-data">
                        <thead>
                            <th>#</th>
                            <th>INDUSTRY TIN</th>
                            <th>INDUSTRY NAME</th>
                            <th>CONSTRUCTION STATUS</th>
                            <th>OPERATIONAL STATUS</th>
                            <th>PARK/ECONOMIC ZONE</th>
                            <th>LOCATION</th>
                            <th>PROVINCE</th>
                            <th>DISTRICT</th>
                            <th>CATEGORY</th>
                            <th>SIZE</th>
                            <th>INVESTMENT AMOUNT</th>
                            <th colspan="5">ACTION</th>
                        </thead>
                        <tbody>
                            {% for industry in park_industries %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ industry.company.tin_number }}</td>
                                    <td>{{ industry.company.name|title }}</td>
                                    <td>{{ industry.construction_status|title }}</td>
                                    <td>{{ industry.operational_status|title }}</td>
                                    <td>{{ industry.allocated_plot.park.name|title }} {{ industry.allocated_plot.park.category|title }}</td>
                                    <td>
                                        {% if not industry.is_in_park %}
                                                <a class="delete_button" style="background-color: #090030;color: white; width: 100%; display:block; text-align:center; border: none; border-radius:0;">Out of industrial zones</a>
                                            {% else %}
                                                <a href="" class="delete_button" style="background-color: green; color: white; width: 100%; display:block; text-align:center; border: none; border-radius:0;">In {{ industry.allocated_plot.park.category|lower }}</a>
                                            {% endif %}
                                    </td>
                                    <td>{{ industry.province|title }}</td>
                                    <td>{{ industry.district|title }}</td>
                                    <td>{{ industry.company.category|upper }}</td>
                                    <td>{{ industry.company.company_size|upper }}</td>
                                    {%  if industry.investment_amount %}
                                        <td>{{ industry.investment_amount|format_number}} {{ industry.investment_currency }}</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                    <td><a href="{% url 'industry:industry-info-details' industry.id %}" class="view_button">view details</a></td>
                                    <td><a href="" class="update_button">update</a></td>
                                    <td><a href="" class="delete_button">delete</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include "helpers/pagination/industries_in_park.html" %}
            </div>
        </div>
    </div>
{% endblock %}