{% extends "base_layout.html" %}
{% load humanize %}
{% load custom_filters %}
{% block main_data_load %}
    <br/>
    <!-- Tabs Navigation -->
    <div id="tabs-container">
        <ul class="tabs">
            <li class="tab-link active" data-tab="industrial-parks" id="tab-industrial-parks">Industrial Parks</li>
            {% if request.user|is_user_permitted:"0012,1" %}
                <li class="tab-link" data-tab="upload-plots-in-parks" id="tab-upload-plots-in-parks">Upload Partitioned Plots</li>
            {% endif %}
        </ul>
    </div>

    <!-- Tab Content -->
    <div id="card_body_data">
        {% include "helpers/message_alert.html" %}
        <div id="industrial-parks" class="tab-content active">
            <div class="upper-detail-div">
                {% if request.user|is_user_permitted:"0012,1" %}
                    <button id="view_price_archive_button" onclick='showAssignmentTable("block")'>+ new industrial park/economic zone</button>
                {% endif %}
                <div class="current_price_list table-data">     
                    {% if industrial_parks|length > 0 %}	
                        <h4>List of Industrial Parks/Economic Zones</h4>			
                        <table>
                        <thead>
                            <th>#</th>
                            <th>NAME</th>
                            <th>CATEGORY</th>
                            <th>TOTAL AREA(M<sup>2</sup>)</th>
                            <th>LEASABLE AREA(M<sup>2</sup>)</th>
                            <th>PROVINCE</th>
                            <th>DISTRICT</th>
                            <th>SECTOR</th>
                            <th>CELL</th>
                            <th colspan="3">ACTIONS</th>
                        </thead>
                        <tbody>
                            {% for industrial_park in industrial_parks %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{industrial_park.name|title}}</td>
                                    <td>{{industrial_park.category|title}}</td>
                                    <td>
                                        {% with value=industrial_park.total_land_size|floatformat:5 %}
                                            {{ value|format_number:5 }}
                                        {% endwith %}
                                    </td>
                                    <td>
                                        {% with value=industrial_park.leasable_land|floatformat:5 %}
                                            {{ value|format_number:5 }}
                                        {% endwith %}
                                    </td>
                                    <td>{{ industrial_park.province|title}}</td>
                                    <td>{{ industrial_park.district|title}}</td>
                                    <td>{{ industrial_park.sector|title}}</td>      
                                    <td>{{ industrial_park.cell|title}}</td>                      
                                    <td><a href="{% url 'industry:park-details' industrial_park.id %}" class="view_button">view details</a></td>
                                    <td><a href="" class="update_button">update</a></td>
                                    <td><a href="" class="delete_button">delete</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- Pagination Bottom -->
                    {% include "helpers/pagination/single_tab.html" %}
                    {% else %}
                        <h4>There are no recorded inudstrial parks/special economic zones</h4>
                        {% if request.user|is_user_permitted:"0012,1" %}
                            <button id="car_title_header_and_new_btn_button">+ new industrial park/economic zone</button>
                        {% endif %}
                    {% endif %}						
                </div>
                {% include "helpers/pagination/single_tab.html" %}
            </div>
            <div class="new-assignment car_new_form_div">
                {% include 'industry/park/new_park_form.html' %}
            </div>
        </div>

        <!-- industries in the park tab -->
        <div id="upload-plots-in-parks" class="tab-content">
            {% include "industry/park/plots_upload_jobs.html" %}
        </div>
    </div>
{% endblock %}