{% extends "base_layout.html" %}
{% load humanize %}
{% block main_data_load %}
    <div id="car_title_header_and_new_btn">
        <p id="car_title_header_and_new_btn_p">#INDUSTRY PROFILE DETAILS: {{ industry.tin_number }} - {{ industry.name }}</p>
        <a href="{% url 'industry:companies-industries-list' %}#companies-industries-profiles" id="price_back_to_car_list">Back to the list</a>
    </div>

    <!-- Tabs Navigation -->
    <div id="tabs-container">
        <ul class="tabs">
            <li class="tab-link active" data-tab="profile-detail">Profile Information Details</li>
            <li class="tab-link" data-tab="profile-branches">Locations</li>
            <li class="tab-link" data-tab="attachment-profile">Attachments</li>
            <li class="tab-link" data-tab="payment-profile">Payments</li>
        </ul>
    </div>

    <!-- Tab Content -->
    <div id="card_body_data">
        <!-- Role users Tab -->
        <div id="profile-detail" class="tab-content active">
            <div class="upper-detail-div">
                <div id="car_viewed_for_prices" class="car_viewed_for_services_prices">
                    <div>
                        <p><strong>Industry TIN: </strong>{{ industry.tin_number }}</p>   
                        <p><strong>Industry Name: </strong>{{ industry.name|title }}</p>   
                        <p><strong>Category: </strong>{{ industry.category|upper }}</p>    
                        <p><strong>Industry size: </strong>{{ industry.company_size|upper }}</p>   
                    </div>
                    <div>
                        <p><strong>Phone Contact: </strong>{{ industry.phone_contact }}</p> 
                        <p><strong>E-mail Contact: </strong>{{ industry.email_contact|upper }}</p> 
                        <p><strong>Investor(s) Origin Countries: </strong>{{ industry.investor_origin_country|upper }}</p> 
                        <p><strong>RDB Registration Date: </strong>{{ industry.registeration_date|date:'d-m-Y' }}</p>
                        <p><strong>Profile Created Date: </strong>{{ industry.profile_created_date|date:'d-m-Y H:i:s A' }}</p><br/><br/>
                    </div>
                </div>
            </div>
            <!-- New Assignment Form -->
            <div class="new-assignment car_new_form_div">
                <!-- form for recording an allocated plot-->
                {% comment %} {% include 'industry/allocate_plot_form.html' %} {% endcomment %}
            </div>
        </div>
        <!-- branches Tab -->
        {% include 'industry/industry_profile_detail_page/branches_tab.html' %}

        <!-- Payment Tab -->
        {% include 'industry/industry_profile_detail_page/attachments_tab.html' %}
        
    </div>
{% endblock %}