{% load custom_filters %}
<div id="attachment-industry" class="tab-content">
    <div class="upper-detail-div">
        <button id="view_price_archive_button" onclick='showAssignmentTable("block")'>+add new attachment</button>
        <div class="current_price_list table-data">
            <h4>List of Attachments</h4>
            <table>
                <thead>
                    <th>#</th>
                    <th>ATTACHMENT NAME</th>
                    <th>ATTACHMENT CATEGORY</th>
                    <th>UPLOADED DATE</th>
                    {% comment %} <th>COMMENT</th> {% endcomment %}
                    <th>ATTACHMENT LINK</th>
                    <th colspan="2">ACTION</th>
                </thead>
                <tbody>
                    {% for attachment in attachments %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ attachment.name }}</td>
                            <td>{{ attachment.category|title }}</td>
                            <td>{{ attachment.uploaded_date|date:'d-m-Y H:i:s A' }}</td>
                            {% comment %} <td>{{ attachment.comment|lower }}</td> {% endcomment %}
                            <td>
                                {% if attachment.document_url %}
                                    <input type="text" id="myInputToCopy2-{{ attachment.id }}" class="myInputToCopy-cls" value="{{ attachment.document_url }}" readonly>
                                    <button onclick="copyText2('{{ attachment.id }}');" id="copy-text-button2-{{ attachment.id }}" class="copy-text-button-cls">Copy attachment link</button>
                                    <p id="copyAlertMessage2-{{ attachment.id }}" class="copyAlertMessage-cls"></p>
                                {% endif %}
                            </td>
                            <td>
                                <input type="hidden" id="document-viewer-documentUrl-{{attachment.id}}" value="{{ attachment.document_url }}"/>
                                <button onclick="DocumentViewerOne.loadDocument('{{ attachment.id }}')"  class="view_button">View Attachment</button>
                            </td>
                            <td><a href="{% url 'industry:delete-industry-attachment' attachment.id %}" class="delete_button">remove</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- New Attachment Form -->
    <div class="new-assignment car_new_form_div">
        {% include 'industry/industry_detail_page/new_attachment_form.html' %}
    </div>
    {% include 'helpers/document_viewer.html' %}
</div>