{% extends "base_layout.html" %}
{% load custom_filters %}
{% load humanize %}
{% block main_data_load %}
    <div id="car_title_header_and_new_btn">
        <p id="car_title_header_and_new_btn_p">#INDUSTRY DETAILS: {{ industry.company.tin_number }} - {{ industry.company.name }}</p>
        <a href="{% url 'industry:companies-industries-list' %}#companies-industries-in-parks" id="price_back_to_car_list">Back to the list</a>
    </div>

    <!-- Tabs Navigation -->
    <div id="tabs-container">
        <ul class="tabs">
            <li class="tab-link active" data-tab="industry-detail">Industry Information Details</li>
            <li class="tab-link" data-tab="attachment-industry">Attachment</li>
            <li class="tab-link" data-tab="contract-industry">Contract</li>
            <li class="tab-link" data-tab="product-industry">Products</li>
        </ul>
    </div>

    <!-- Tab Content -->
    <div id="card_body_data">
        <!-- Role users Tab -->
        <div id="industry-detail" class="tab-content active">
            <div class="upper-detail-div">
                <div id="car_viewed_for_prices" class="car_viewed_for_services_prices">
                    <div>
                        <p><strong>Industry TIN: </strong>{{ industry.company.tin_number }}</p>   
                        <p><strong>Industry Name: </strong>{{ industry.company.name|title }}</p>   
                        <p><strong>Category: </strong>{{ industry.company.category|upper }}</p>    
                        <p><strong>Industry size: </strong>{{ industry.company.company_size|upper }}</p>   
                        <p><strong>Investment Amount: </strong>
                            {% if industry.investment_amount %}
                                {% with value=industry.investment_amount|floatformat:3 %}
                                    {{ value|format_number }}
                                {% endwith %}
                                {{ industry.investment_currency }}
                            {% endif %}
                        </p>
                        <p><strong>Occupied space: </strong>
                            {% if industry.occupied_space %}
                                {% with value=industry.occupied_space|floatformat:5 %}
                                    {{ value|format_number:5 }}
                                {% endwith %}
                                <b>m<sup>2</sup></b>
                            {% endif %}
                        </p>
                        <p><strong>Total Plot Size: </strong>
                            {% if industry.allocated_plot %}
                                {% with value=industry.allocated_plot.plot_size|floatformat:5 %}
                                    {{ value|format_number:5 }}
                                {% endwith %}
                                <b>m<sup>2</sup></b>
                            {% endif %}
                        </p>
                        <p><strong>Longitude: </strong>{% if industry.longitude %}{{ industry.longitude }}{% endif %}</p>    
                        <p><strong>Latitude: </strong>{% if industry.latitude %}{{ industry.latitude }} {% endif %}</p> 
                        <p><strong>Construction Status: </strong>{{ industry.construction_status|title }}</p> 
                        <p><strong>Construction Start Date: </strong>{{ industry.construction_start_date|date:'d-m-Y'  }}</p>
                        <p><strong>Operational Status: </strong>{{ industry.operational_status|title }}</p>  
                        <p><strong>Operational Start Date: </strong>{{ industry.operational_start_date|date:'d-m-Y' }}</p> 
                        
                        <br/>
                        <h4 style="border-bottom: 2px double black; width: 90%;"></h4>
                        {% if industry.allocated_plot and industry.allocated_plot.land_request %}
                            <button  class="industry-action-btns"><a href="{% url 'industry:land-request-detail' industry.allocated_plot.land_request.id %}#land-request-allocated-plot"style="text-decoration: none;">View The Plot</a></button>
                        {% endif %}
                        <button class="industry-action-btns" id="change_construction_status_button">Change Construction Status</button>
                        <button class="industry-action-btns" id="change_operational_status_button">Change Operational Status</button>                        
                    </div>
                    <div>
                        {% if industry.is_in_park %}
                            <p><strong>Located in: </strong>{{ industry.allocated_plot.park.name|title }} {{ industry.allocated_plot.park.category|title }}</p> 
                        {% else %}
                            <p><strong>This industry operates out of industrial zone(industrial park, special economic zone or light industrial zone)</strong></p>
                        {% endif %}
                        <p><strong>Province: </strong>{{ industry.province|title }}</p> 
                        <p><strong>District: </strong>{{ industry.district|title }}</p> 
                        <p><strong>Sector: </strong>{{ industry.sector|title }}</p> 
                        <p><strong>Cell: </strong>{{ industry.cell|title }}</p> 
                        <p><strong>Phone Contact: </strong>{{ industry.company.phone_contact }}</p> 
                        <p><strong>E-mail Contact: </strong>{{ industry.company.email_contact|upper }}</p> 
                        <p><strong>Investor(s) Origin Countries: </strong>{{ industry.company.investor_origin_country|upper }}</p> 
                        <p><strong>Plot Zoning: </strong>{{ industry.allocated_plot.zone.name|title }}</p>  
                        <p><strong>RDB Registration Date: </strong>{{ industry.company.registeration_date|date:'d-m-Y' }}</p>
                        <p><strong>System Recorded Date: </strong>{{ industry.recorded_date|date:'d-m-Y H:i:s A' }}</p><br/><br/>

                        <p><button id="view_price_archive_button" onclick='showAssignmentTable("block")' style="background-color: #000080; display:block; float: left; font-weight: normal; margin-top: 13px; padding:10px; margin-left: 5px; width: 100%;">+ add economic sector & sub-sector</button></p>
                        {% if industry_economic_sub_sectors|length > 0 %}
                            <div id="car_table_data" class="table-data">
                                <h4 style="border-bottom: 2px double black;">List of Economic Sectors & Sub-sectors for {{ industry.company.name }}</h4>
                                <table>
                                    <thead>
                                        <th>#</th>
                                        <th>ECONOMIC SECTOR NAME</th>
                                        <th>ECONOMIC SUB-SECTOR NAME</th>
                                        <th colspan="3">ACTIONS</th>
                                    </thead>
                                    <tbody>
                                        {% for economic_sub_sector in industry_economic_sub_sectors %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ economic_sub_sector.sector.economic_sector.name }}</td>
                                                <td>{{ economic_sub_sector.sector.name }}</td>
                                                <td><a href="" class="delete_button">remove</a></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>  
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- New Assignment Form -->
            <div class="new-assignment car_new_form_div">
                <!-- form for recording an allocated plot-->
                {% include 'industry/industry_detail_page/add_economic_sector.html' %}
            </div>
        </div>
        <!-- Attachments Tab -->
        {% include 'industry/industry_detail_page/attachment_tab.html' %}

        <!-- Contract Tab -->
        {% include 'industry/industry_detail_page/contract_tab.html' %}

        <!-- Products Tab -->
        {% include 'industry/industry_detail_page/products_tab.html' %}
    </div>
{% endblock %}