{% extends 'base_layout.html' %}
{% block main_data_load %}
    <div id="car_title_header_and_new_btn">
        <p id="car_title_header_and_new_btn_p">List of Economic Sectors</p>
        <button id="car_title_header_and_new_btn_button">+ new economic sector</button>
    </div>
    <div id="card_body_data">
        <div id="car_table_data" class="table-data">
            <table>
                <thead>
                    <th>#</th>
                    <th>ECONOMIC SECTOR NAME</th>
                    <th>RECORDED DATE</th>
                    <th colspan="3">ACTIONS</th>
                </thead>
                <tbody>
                    {% for economic_sector in economic_sectors %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ economic_sector.name }}</td>
                            <td>{{ economic_sector.recorded_date|date:"d-m-Y H:i:s"}}</td>
                            <td><a href="" class="view_button">view details</a></td>
                            <td><a href="" class="update_button">update</a></td>
                            <td><a href="" class="delete_button">delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
        <div class="car_new_form_div">
            <form class="car_new_form" method="post" action="">
                {% csrf_token %}
                <fieldset>
                    <legend>Recording a new economic sector</legend>	
                    <div class="form-group">
                        <label>Sector name</label>
                        <input type="text" maxlength="200" name="name" required/>
                    </div>
                    <input type="submit" value="Save economic sector"/>
                    <button type="button" onclick="hideNewGroupCarRegiseterForm()">Cancel this action</button>
                </fieldset>						
            </form>
        </div>
    </div>
{% endblock %}