{% extends "base_layout.html" %}
{% load custom_filters %}
{% block main_data_load %}
    <div id="car_title_header_and_new_btn">
        <p id="car_title_header_and_new_btn_p">#SYSTEM SETTINGS</p>
    </div>
    <div id="card_body_data">	
        {% include "helpers/message_alert.html" %}			
        <div id="car_prices">
            {% if request.user|is_user_permitted:"0007,1" %}
                <div id="car_viewed_for_prices" class="car_viewed_for_services_prices">
                    <div>
                        <p><a href="{% url 'system_management:feed-data' 'modules' %}" class="system_settings_button_feed">Feed Modules</a></p><br/>
                        <p><a href="{% url 'system_management:feed-data' 'zoning' %}" class="system_settings_button_feed">Feed Industrial Zonings</a></p><br/>
                        <p><a href="{% url 'system_management:feed-data' 'product_measurements' %}" class="system_settings_button_feed">Feed Product Measurements</a></p><br/>
                    </div>
                    <div>
                        <p><a href="{% url 'system_management:feed-data' 'countries' %}" class="system_settings_button_feed">Feed Countries</a></p><br/>
                        <p><a href="{% url 'system_management:feed-data' 'rra_customs' %}" class="system_settings_button_feed">Feed RRA Customs</a></p><br/>
                        <p><a href="{% url 'system_management:feed-data' 'bnr_usd_rates' %}" class="system_settings_button_feed">Feed BNR USD Monthly Average Rates</a></p><br/>
                        {% if reporting_months|length != 12 %}
                            <p><a href="{% url 'system_management:feed-data' 'reporting_months' %}" class="system_settings_button_feed">Feed Reporting Months</a></p><br/>
                        {% endif %}
                    </div>
                    <div>
                        <p><a href="{% url 'system_management:feed-data' 'administrative_divisions' %}" class="system_settings_button_feed">Feed Administrative Divisions(Provinces)</a></p><br/>
                    </div>
                </div>
            {% endif %}
            <div class="current_price_list table-data">     		
                <table class="table-data">
                    <thead>
                        <th>MODULES</th>
                        <th>INDUSTRIAL ZONES</th>
                        <th>ECONOMIC SECTORS</th>
                        <th>ECONOMIC SUB-SECTORS</th>
                        <th>ADMINISTRATIVE DIVISIONS</th>
                        <th>WORLD COUNTRIES</th>
                        <th>USD MONTHLY RATES</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ modules }}</td>
                            <td>{{ zones }}</td>
                            <td>{{ economic_sectors }}</td>
                            <td>{{ economic_sub_sectors }}</td>
                            <td>{{ administrative_divisions }}</td>
                            <td>{{ countries }}</td>
                            <td>{{ usd_rates }}</td>
                        </tr>
                    </tbody>
                </table>					
            </div>					
        </div>
    </div>
{% endblock %}