<form class="car_new_form" method="post" action="">
    {% csrf_token %}
    <fieldset>
        <legend>Registering a company/industry profile in the system</legend>	
        <div class="form-group">
            <label>Company category</label>
            <select required name="category" required>
                <option selected value="INDUSTRY">INDUSTRY</option>
                <option value="NOT INDUSTRY">NOT INDUSTRY</option>
            </select>
        </div>
        <div class="form-group">
            <label>The name of company</label>
            <input type="text" maxlength="200" name="name" required/>
        </div>
        <div class="form-group">
            <label>Tax Identification Number(TIN)</label>
            <input type="number" min="100000000" max="999999999" name="tin_number" required/>
        </div>
        <div class="form-group">
            <label>Contact phone number</label>
            <input type="text" name="phone_contact" pattern="^\+250(78|79|72|73)\d{7}$" title="Enter a valid phone number starting with +25078, +25079, +25072, or +25073 followed by 7 digits." required>
        </div>
        <div class="form-group">
            <label>Contact email address</label>
            <input type="email" name="email_contact" required/>
        </div>
        <div class="form-group">
            <label>Managing Director Firstname</label>
            <input type="text" name="first_name" required maxlength="80"/>
        </div>
        <div class="form-group">
            <label>Managing Director Lastname</label>
            <input type="text" name="last_name" required maxlength="80"/>
        </div>
        <div class="form-group">
            <label>Managing Director ID/Passport Number</label>
            <input type="text" name="managing_director_id" maxlength="19"/>
        </div>
        <div class="form-group">
            <label>Company size</label>
            <select name="company_size" required>
                <option value="Large">Large</option>
                <option value="Medium">Medium</option>
                <option value="Small">Small</option>
                <option value="Micro">Micro</option>
            </select>
        </div>
        <div class="form-group date-picker-container">
            <label for="date-picker">RDB registration date</label>
            <input type="date" id="date-picker" name="registeration_date">
        </div>
        <div class="form-section">
            <label for="itemSearch">Investor Origin Country</label>
            {% include 'helpers/multipledropdown.html' %}
        </div>
        <div class="form-group">
            <h3>Headquarter Location</h3>
        </div>
        <div class="form-group">
            <label for="exampleInputProvince">Province <b>[required]</b></label>
            <select id="exampleInputProvince" name="headquaters_province" required onchange="fillInDistricts('{{ districts|escapejs }}');" required>
                <option disabled selected>choose province</option>
                {% for province in provinces %}
                    <option value="{{ province.id }}">{{ province.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputDistrict">Distric <b>[required]</b></label>
            <select id="exampleInputDistrict" name="headquaters_district" required onchange="fillInSectors('{{ sectors|escapejs }}');" required>

            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputSector">Sector <b>[required]</b></label>
            <select id="exampleInputSector" name="headquaters_sector" required onchange="fillInCells('{{ cells|escapejs }}');" required>

            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputCell">Cell <b>[required]</b></label>
            <select id="exampleInputCell" name="headquaters_cell" required onchange="fillInVillages('{{ villages|escapejs }}');">

            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputVillage">Village <b>[required]</b></label>
            <select id="exampleInputVillage" name="headquaters_village" required>

            </select>
        </div>
        <input type="submit" value="Save profile"/>
        <button type="button" onclick="hideNewGroupCarRegiseterForm()">Cancel this action</button>
    </fieldset>						
</form>