{% extends "base_layout.html" %}
{% load humanize %}
{% load custom_filters %}
{% block main_data_load %}
    <br/>
    <!-- Tabs Navigation -->
    <div id="tabs-container">
        <ul class="tabs">
            <li class="tab-link active" data-tab="companies-industries-profiles" id="tab-companies-industries-profiles">Industry Profiles</li>
            <li class="tab-link" data-tab="companies-industries-in-parks" id="tab-companies-industries-in-parks">List of Industries</li>
        </ul>
    </div>

    <!-- Tab Content -->
    <div id="card_body_data">
        {% include "helpers/message_alert.html" %}
        <!-- companies industries profiles Tab -->
        <div id="companies-industries-profiles" class="tab-content active">
            <div class="upper-detail-div">
                <button id="view_price_archive_button" onclick='showAssignmentTable("block")'>+ Record an industry profile</button>	
                <div class="current_price_list table-data">     
                    {% if companies_industries_profiles|length > 0 %}	
                        <h4>List of Industries Profiles</h4>			
                        <table>
                            <thead>
                                <th>#</th>
                                <th>INDUSTRY TIN</th>
                                <th>INDUSTRY NAME</th>
                                <th>CATEGORY</th>
                                <th>SIZE</th>
                                <th>EMAIL</th>
                                <th>PHONE NUMBER</th>
                                <th>MANAGING DIRECTOR</th>
                                <th>MANAGING DIRECTOR(ID/PASSPORT)</th>
                                <th>HEADQUARTER LOCATION</th>
                                <th>RDB REGISTRATION</th>
                                <th colspan="3">Action</th>
                            </thead>
                            <tbody>
                                {% for company_industry_profile in companies_industries_profiles %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ company_industry_profile.tin_number }}</td>
                                        <td>{{ company_industry_profile.name|upper }}</td>
                                        <td>{{ company_industry_profile.category|upper }}</td>
                                        <td>{{ company_industry_profile.company_size|upper }}</td>
                                        <td>{{ company_industry_profile.email_contact|lower }}</td>
                                        <td>{{ company_industry_profile.phone_contact|lower }}</td>
                                        <td>{{ company_industry_profile.managing_director_name|title }}</td>
                                        <td>{{ company_industry_profile.managing_director_id }}</td>
                                        <td>{{ company_industry_profile.headquaters_province }}, {{ company_industry_profile.headquaters_district }}, {{ company_industry_profile.headquaters_sector }}, {{ company_industry_profile.headquaters_cell }}, {{ company_industry_profile.headquaters_village }}</td>
                                        <td>{{ company_industry_profile.registeration_date|date:'d-m-Y' }}</td>
                                        <td><a href="{% url 'industry:industry-profile-details' company_industry_profile.id %}" class="view_button">view details</a></td>
                                        <td><a href="" class="update_button">update</a></td>
                                        <td><a href="" class="delete_button">delete</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h4>There are no recorded industries profiles</h4>	
                        <button id="view_price_archive_button" onclick='showAssignmentTable("block")'>+ Record an industry profile</button>	
                    {% endif %}						
                </div>
            </div>
            <!-- New Assignment Form -->
            <div class="new-assignment car_new_form_div">
                <!-- form for recording a company/industry-->
                {% include 'industry/company_industry_form.html' %}
            </div>
        </div>

        <!-- industries in the park tab -->
        <div id="companies-industries-in-parks" class="tab-content">
            <div class="upper-detail-div">
                <button id="view_price_archive_button" onclick='showAssignmentTable("block")'>+ add industry out of industrial zone</button>		
                <div  class="current_price_list table-data">
                    <h4>List of Industries In Parks, Zones and Other</h4>		
                    <table>
                        <thead>
                            <th>#</th>
                            <th>INDUSTRY TIN</th>
                            <th>INDUSTRY NAME</th>
                            <th>CONSTRUCTION STATUS</th>
                            <th>OPERATIONAL STATUS</th>
                            <th>PARK/ECONOMIC ZONE</th>
                            <th>LOCATION</th>
                            <th>PROVINCE</th>
                            <th>DISTRICT</th>
                            <th>CATEGORY</th>
                            <th>SIZE</th>
                            <th>INVESTMENT AMOUNT</th>
                            <th colspan="5">ACTION</th>
                        </thead>
                        <tbody>
                            {% for industry in park_industries %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ industry.company.tin_number }}</td>
                                    <td>{{ industry.company.name|upper }}</td>
                                    <td>{{ industry.construction_status|title }}</td>
                                    <td>{{ industry.operational_status|title }}</td>
                                    <td>{{ industry.allocated_plot.park.name|title }} {{ industry.allocated_plot.park.category|title }}</td>
                                    <td>
                                        {% if not industry.is_in_park %}
                                                <a class="delete_button" style="background-color: #090030;color: white; width: 100%; display:block; text-align:center; border: none; border-radius:0;">Out of industrial zones</a>
                                            {% else %}
                                                <a href="" class="delete_button" style="background-color: green; color: white; width: 100%; display:block; text-align:center; border: none; border-radius:0;">In {{ industry.allocated_plot.park.category|lower }}</a>
                                            {% endif %}
                                    </td>
                                    <td>{{ industry.province|title }}</td>
                                    <td>{{ industry.district|title }}</td>
                                    <td>{{ industry.company.category|upper }}</td>
                                    <td>{{ industry.company.company_size|upper }}</td>
                                    {%  if industry.investment_amount %}
                                        <td>{{ industry.investment_amount|format_number}} {{ industry.investment_currency }}</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                    <td><a href="{% url 'industry:industry-info-details' industry.id %}" class="view_button">view details</a></td>
                                    <td><a href="" class="update_button">update</a></td>
                                    <td><a href="{% url 'industry:delete-industry' industry.id %}" class="delete_button">delete</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- New Assignment Form -->
            <div class="new-assignment car_new_form_div">
                <!-- form for recording a company/industry-->
                {% include 'industry/add_industry_out_of_park.html' %}
            </div>
        </div>
    </div>
{% endblock %}