{% extends "base_layout.html" %}
{% load humanize %}
{% block main_data_load %}
    <div id="car_title_header_and_new_btn">
        <p id="car_title_header_and_new_btn_p">#INDUSTRY CONTRACT WITH <b>{{ contract.industry.company.tin_number }} - {{ contract.industry.company.name }}</b></p>
        <a href="{% url 'industry:industry-info-details' contract.industry.id %}#contract-industry" id="price_back_to_car_list">Back to the list</a>
    </div>

    <!-- Tabs Navigation -->
    <div id="tabs-container">
        <ul class="tabs">
            <li class="tab-link active" data-tab="contract-detail">Contract Information</li>
            <li class="tab-link" data-tab="contract-payments">Payment Information</li>
            <li class="tab-link" data-tab="installments-transactions">Installments Transactions</li>
        </ul>
    </div>

    <!-- Tab Content -->
    <div id="card_body_data">
        <!-- Role users Tab -->
        <div id="contract-detail" class="tab-content active">
            <div class="upper-detail-div">
                <div id="car_viewed_for_prices" class="car_viewed_for_services_prices">
                    <div>
                        <p><strong>Industry TIN: </strong>{{ contract.industry.company.tin_number }}</p>   
                        <p><strong>Industry Name: </strong>{{ contract.industry.company.name|title }}</p>   
                        <p><strong>Category: </strong>{{ contract.industry.company.category|upper }}</p>    
                        <p><strong>Industry size: </strong>{{ contract.industry.company.company_size|upper }}</p>   
                        <p><strong>Phone Contact: </strong>{{ contract.industry.company.phone_contact }}</p> 
                        <p><strong>E-mail Contact: </strong>{{ contract.industry.company.email_contact|upper }}</p> 
                        <p><strong>Investor(s) Origin Countries: </strong>{{ contract.industry.company.investor_origin_country|upper }}</p> 
                        <p><strong>RDB Registration Date: </strong>{{ contract.industry.company.registeration_date|date:'d-m-Y' }}</p>
                        {% if payment %}
                            <a class="tab-link industry-action-btns" data-tab="contract-payments"> View Payment</a>
                        {% else %}
                            <p><button id="view_price_archive_button view_price_archive_button_override" onclick='showAssignmentTable("block")' class="industry-action-btns">+ add payment</button></p>
                        {% endif %}
                    </div>
                    <div>
                        <p><strong>Contract Type: </strong>{{ contract.contract_type|upper }}</p> 
                        <p><strong>Contract Signing Date: </strong>{{ contract.signing_date|date:'d-m-Y' }}</p>
                        <p><strong>Contract Amount: </strong>{{ contract.contract_amount }} {{ contract.contract_currency }}</p> 
                        <p><strong>Operational Year(s): </strong>{{ contract.operational_years }}</p> 
                        <p><strong>Contract Document Link:
                            <input type="text" id="myInputToCopy" value="{{ contract.contract_document_url }}" readonly>
                            <button onclick="copyText();" id="copy-text-button">Copy</button>
                        </p>
                        <p id="copyAlertMessage"></p>
                        {% if contract.is_contract_closed %}
                            <p><strong>Contract is closed</strong></p>
                            <p><strong>Contract closure comment: </strong><i>{{ contract.closure_comment }}</i></p>  
                        {% endif %}
                        {% if contract.parent_contract %}
                            <p><strong><a href="{% url 'industry:contracts-detail' contract.parent_contract.id %}">View Linked Contract</a></strong></p>
                        {% endif %}
                        <p><strong>Contract recorded date: </strong>{{ contract.recorded_date|date:'d-m-Y H:i:S' }}</p>
                        <a href="{{ contract.contract_document_url }}" target="_blank" class="industry-action-btns">View Contract Document</a><br/>
                    </div>
                </div>
            </div>
            <!-- New Assignment Form -->
            <div class="new-assignment car_new_form_div">
                <!-- form for recording an payment-->
                {% include 'industry/contract/new_payment_form.html' %}
            </div>
        </div>
        <!-- contract payments Tab -->
        {% include 'industry/contract/payment_information_tab.html' %}

        <!-- Contract Payment Installments Tab -->
        {% comment %} {% include 'industry/industry_profile_detail_page/attachments_tab.html' %} {% endcomment %}
        
    </div>
{% endblock %}