<div id="installments-transactions" class="tab-content">
    <div class="upper-detail-div">
        <div id="car_table_data" class="table-data">
            <h4 style="border-bottom: 2px double black; text-align:center;">List Of Transactions For The Installments </h4>
            {% if unpaid_installment %}
                <button id="view_price_archive_button" onclick='showAssignmentTable("block")'>+add new transaction</button>
            {% endif %}
            <table>
                <thead>
                    <th>#</th>
                    <th>INSTALLMENT</th>
                    <th>TRANSACTION DATE</th>
                    <th>PAID AMOUNT</th>
                    <th colspan="2">ACTION</th>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ transaction.installment.expected_payment_date|date:'d-m-Y' }}</td>
                            <td>{{ transaction.payment_date|date:'d-m-Y' }}</td>
                            <td>{{ transaction.payment_amount }} {{ transaction.installment.contract_payment.payment_currency }}</td>
                            <td>
                                {% if transaction.payment_proof_url %}
                                    <a style="background-color:#cd853f;" href="{{ transaction.payment_proof_url }}" target="_blank">view payment proof</a>
                                {% else %}
                                    Payment proof is missing
                                {% endif %}
                                </td>
                            <td>
                                {% if transaction.payment_proof_url %}
                                    <input type="text" id="myInputToCopy2" value="{{ transaction.payment_proof_url }}" readonly>
                                    <button onclick="copyText2();" id="copy-text-button2">Copy proof link</button>
                                    <p id="copyAlertMessage2"></p>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>  
        </div>
        {% comment %} {% endif %} {% endcomment %}
    </div>
    <!-- New Transaction Form -->
    <div class="new-assignment car_new_form_div">
        <!-- form for recording payment transaction-->
        {% include 'industry/contract/transaction_form.html' %}
    </div>
</div>