{% load custom_filters %}
<div id="contracts" class="tab-content active">
    <div class="upper-detail-div">
        <div class="current_price_list table-data">     
            {% if contracts|length > 0 %}	
                <h4>List of All Contracts</h4>		
                <table class="table-data">
                    <thead>
                        <th>#</th>
                        <th>CONTRACT TYPE</th>
                        <th>CONTRACT AMOUNT</th>
                        <th>CONTRACT SIGNING DATE</th>
                        <th>OPERATIONAL YEARS</th>
                        <th>LINKED CONTRACT</th>
                        <th>CONTRACT CLOSED</th>
                        <th>INDUSTRY SIGNED</th>
                        <th colspan="3">ACTION</th>
                    </thead>
                    <tbody>
                        {% for contract in contracts %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ contract.contract_type|title }}</td>
                                {% if contract.contract_amount %}
                                    <td>{{ contract.contract_amount|format_number }} {{ contract.contract_currency }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                {% if contract.signing_date %}
                                    <td>{{ contract.signing_date|date:'d-m-Y' }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                {% if contract.operational_years %}
                                    <td>{{ contract.operational_years }} years</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                {% if contract.parent_contract %}
                                    <td><a href="{% url 'industry:contracts-detail' contract.parent_contract.id %}" class="view_button">view linked contract</a></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                {% if contract.is_contract_closed %}
                                    <td>Yes</td>
                                {% else %}
                                    <td>NO</td>
                                {% endif %}
                                {% if request.user|is_user_permitted:"0013,3" %}
                                    <td><a href="{% url 'industry:industry-info-details' contract.industry.id %}#industry-detail" class="view_button">view industry details</a></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                {% if request.user|is_user_permitted:"0013,3" %}
                                    <td><a href="{% url 'industry:contracts-detail' contract.id %}" class="view_button">view contract details</a></td>
                                
                                    <td>
                                        {% if contract.contract_document_url %}
                                            <input type="hidden" id="document-viewer-documentUrl-contract-{{contract.id}}" value="{{ contract.contract_document_url }}"/>
                                            <button onclick="DocumentViewerTwo.loadDocument('contract-{{ contract.id }}')"  class="view_button">View contract document</button>
                                        {% else %}
                                            contract document is missing
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if contract.contract_document_url %}
                                            <input type="text" id="myInputToCopy2-{{contract.id}}" class="myInputToCopy-cls" value="{{ contract.contract_document_url }}" readonly>
                                            <button onclick="copyText2('{{contract.id}}');" id="copy-text-button2-{{contract.id}}" class="copy-text-button-cls">Copy contract document link</button>
                                            <p id="copyAlertMessage2-{{contract.id}}" class="copyAlertMessage-cls"></p>
                                        {% endif %}
                                    </td>
                                {% else %}
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h4>There are no recorded contracts</h4>	
            {% endif %}						
        </div>
    </div>
    {% include 'helpers/document_viewer_2.html' %}
</div>