{% load custom_filters %}
<div id="payments" class="tab-content">
    <div class="upper-detail-div">
        <div class="current_price_list table-data">     
            {% if payments|length > 0 %}	
                {% comment %} <h4>List of All Contracts Payments</h4>		 {% endcomment %}
                <table class="table-data">
                    <thead>
                        <th>#</th>
                        <th>PAYMENT MODALITY</th>
                        <th>CONTRACT AMOUNT</th>
                        <th>TOTAL PAID AMOUNT</th>
                        <th>TOTAL UNPAID AMOUNT</th>
                        <th>ACCRUED PENALITIES</th>
                        <th>PAID PENALITIES</th>
                        <th>AMOUNT OVERDUED</th>
                        <th>DAY IN ARREAS</th>
                        <th>PAYMENT STATUS</th>
                        <th>NBR OF INSTALLMENTS</th>
                        <th>NEXT PAYMENT DATE</th>
                        <th>LINKED CONTRACT</th>
                        <th>UPDATE DATE</th>
                        <th>INDUSTRY SIGNED</th>
                    </thead>
                    <tbody>
                        {% for payment in payments %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ payment.payment_modality|title }}</td>
                                {% if payment.total_amount_to_pay %}
                                    <td>{{ payment.total_amount_to_pay|format_number }} {{ payment.payment_currency }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                {% if payment.total_amount_paid %}
                                    <td>{{ payment.total_amount_paid|format_number }}  {{ payment.payment_currency }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                {% if payment.total_amount_unpaid %}
                                    <td>{{ payment.total_amount_unpaid|format_number }} {{ payment.payment_currency }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                {% if payment.accrued_penalties %}
                                    <td>{{ contract.accrued_penalties|format_number }} {{ payment.payment_currency }}</td>
                                {% else %}
                                    <td>0 {{ payment.payment_currency }}</td>
                                {% endif %}
                                {% if payment.paid_penalties %}
                                    <td>{{ payment.paid_penalties|format_number }}  {{ payment.payment_currency }}</td>
                                {% else %}
                                    <td>0 {{ payment.payment_currency }}</td>
                                {% endif %}
                                {% if payment.amount_overdued %}
                                    <td>{{ payment.amount_overdued|format_number }} {{ payment.payment_currency }}</td>
                                {% else %}
                                    <td>0 {{ payment.payment_currency }}</td>
                                {% endif %}
                                {% if payment.days_in_arrears %}
                                    <td>{{ payment.days_in_arrears|format_number }} days</td>
                                {% else %}
                                    <td>0 days</td>
                                {% endif %}
                                <td>{{ payment.payment_status|upper }}</td>
                                <td>{{ payment.number_of_installments|format_number }}</td>
                                {% if payment.next_payment_date %}
                                    <td>{{ payment.next_payment_date|date:'d-m-Y' }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                {% if payment.contract %}
                                    <td><a href="{% url 'industry:contracts-detail' payment.contract.id %}" class="view_button">view linked contract</a></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                {% if payment.updated_date %}
                                    <td>{{ payment.updated_date|date:'d-m-Y H:i:s A' }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}                
                                <td><a href="{% url 'industry:industry-info-details' payment.contract.industry.id %}#industry-detail" class="view_button">view industry details</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h4>There are no recorded payments</h4>	
            {% endif %}						
        </div>
        {% include "helpers/pagination/main_payment.html" %}
    </div>
</div>