{% load custom_filters %}
<div id="transactions" class="tab-content">
    <div class="upper-detail-div">
        <div class="current_price_list table-data">     
            {% if payment_installments|length > 0 %}
                <div id="car_table_data" class="table-data">
                    <h4 style="border-bottom: 2px double black; text-align:center;">List Of Payment Transactions</h4>
                    <table>
                        <thead>
                            <th>#</th>
                            <th>INSTALLMENT</th>
                            <th>TRANSACTION DATE</th>
                            <th>PAID AMOUNT</th>
                            <th>LINKED PAYMENT</th>
                            <th>AMOUNT TO REFUND</th>
                            <th>REFUNDED DATE</th>
                            <th>WAS AMOUNT REFUNDED?</th>
                            <th>REFUND RECORDED BY</th>
                            <th colspan="3">ACTION</th>
                        </thead>
                        <tbody>
                            {% for transaction in transactions %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ transaction.installment.expected_payment_date|date:'d-m-Y' }}</td>
                                    <td>{{ transaction.payment_date|date:'d-m-Y' }}</td>
                                    <td>{{ transaction.payment_amount|format_number }} {{ transaction.installment.contract_payment.payment_currency }}</td>
                                    {% if transaction.installment.contract_payment.contract %}
                                        <td><a href="{% url 'industry:contracts-detail' transaction.installment.contract_payment.contract.id %}#contract-payments" class="view_button">view linked payment</a></td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                    <td>
                                        {% if transaction.refund_amount > 0 %}
                                            {{ transaction.refund_amount|format_number }} {{ transaction.installment.contract_payment.payment_currency }}
                                        {% else %}
                                            0 {{ transaction.installment.contract_payment.payment_currency }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if transaction.refunded_date %}
                                            {{ transaction.refunded_date|date:'d-m-Y' }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if transaction.is_refunded %}
                                            YES
                                        {% else %}
                                            NO
                                        {% endif %}
                                    </td>
                                    <td>
                                        {%  if transaction.recorded_by  %}
                                            {{ transaction.recorded_by.first_name|title }} {{ transaction.recorded_by.last_name|title }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if transaction.payment_proof_url %}
                                            <input type="hidden" id="document-viewer-documentUrl-{{transaction.id}}" value="{{ transaction.payment_proof_url }}"/>
                                            <button onclick="DocumentViewerOne.loadDocument('{{ transaction.id }}')"  class="view_button">View payment proof</button>
                                        {% else %}
                                            Payment proof is missing
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if transaction.payment_proof_url %}
                                            <input type="text" id="myInputToCopy-{{transaction.id}}" class="myInputToCopy-cls" value="{{ transaction.payment_proof_url }}" readonly>
                                            <button onclick="copyText('{{transaction.id}}');" id="copy-text-button-{{transaction.id}}" class="copy-text-button-cls">Copy payment proof link</button>
                                            <p id="copyAlertMessage-{{transaction.id}}" class="copyAlertMessage-cls"></p>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if transaction.refund_proof_url %}
                                            <input type="hidden" id="document-viewer-documentUrl-refund-{{transaction.id}}" value="{{ transaction.refund_proof_url }}"/>
                                            <button onclick="DocumentViewerOne.loadDocument('refund-{{ transaction.id }}')"  class="view_button">View refund proof</button>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>   
                </div>
            {% else %}
                <h4>There are no recorded payment transactions</h4>	
            {% endif %}						
        </div>
        {% include "helpers/pagination/main_transaction_tab.html" %}
    </div>
    {% include 'helpers/document_viewer.html' %}
</div>