{% if import_icbts_page.has_previous or import_icbts_page.has_next %}
    <div class="pagination">
        <span class="step-links">
            {% if import_icbts_page.has_previous %}
                <a class="page-link" 
                   href="?tab={{ import_icbts_tab_type }}&page=1#icbt-import" 
                   data-page="1">&laquo; First</a>
                <a class="page-link" 
                   href="?tab={{ import_icbts_tab_type }}&page={{ import_icbts_page.previous_page_number }}#icbt-import" 
                   data-page="{{ import_icbts_page.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ import_icbts_page.number }} of {{ import_icbts_page.paginator.num_pages }}
            </span>

            {% if import_icbts_page.has_next %}
                <a class="page-link" 
                   href="?tab={{ import_icbts_tab_type }}&page={{ import_icbts_page.next_page_number }}#icbt-import" 
                   data-page="{{ import_icbts_page.next_page_number }}">Next</a>
                <a class="page-link" 
                   href="?tab={{ import_icbts_tab_type }}&page={{ import_icbts_page.paginator.num_pages }}#icbt-import" 
                   data-page="{{ import_icbts_page.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endif %}