{% if industry_page.has_previous or industry_page.has_next %}
    <div class="pagination">
        <span class="step-links">
            {% if industry_page.has_previous %}
                <a class="page-link" href="?tab={{ industries_tab_type }}&page=1#companies-industries-in-parks" data-page="1">&laquo; First</a>
                <a class="page-link" href="?tab={{ industries_tab_type }}&page={{ industry_page.previous_page_number }}#companies-industries-in-parks" data-page="{{ industry_page.previous_page_number }}">Previous</a>
            {% endif %}
        
                <span class="current">
                    Page {{ industry_page.number }} of {{ industry_page.paginator.num_pages }}
                </span>

            {% if industry_page.has_next %}
                <a class="page-link" href="?tab={{ industries_tab_type }}&page={{ industry_page.next_page_number }}#companies-industries-in-parks" data-page="{{ industry_page.next_page_number }}">Next</a>
                <a class="page-link" href="?tab={{ industries_tab_type }}&page={{ industry_page.paginator.num_pages }}#companies-industries-in-parks" data-page="{{ industry_page.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endif %}