{% if re_exports_page.has_previous or re_exports_page.has_next %}
    <div class="pagination">
        <span class="step-links">
            {% if re_exports_page.has_previous %}
                <a class="page-link" 
                   href="?tab={{ re_export_formal_tab_type }}&page=1#formal-re-export" 
                   data-page="1">&laquo; First</a>
                <a class="page-link" 
                   href="?tab={{ re_export_formal_tab_type }}&page={{ re_exports_page.previous_page_number }}#formal-re-export" 
                   data-page="{{ re_exports_page.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ re_exports_page.number }} of {{ re_exports_page.paginator.num_pages }}
            </span>

            {% if re_exports_page.has_next %}
                <a class="page-link" 
                   href="?tab={{ re_export_formal_tab_type }}&page={{ re_exports_page.next_page_number }}#formal-re-export" 
                   data-page="{{ re_exports_page.next_page_number }}">Next</a>
                <a class="page-link" 
                   href="?tab={{ re_export_formal_tab_type }}&page={{ re_exports_page.paginator.num_pages }}#formal-re-export" 
                   data-page="{{ re_exports_page.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endif %}